body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

.circle {
    font-size: 2em;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #4CAF50;
    color: white;
    line-height: 60px;
    display: inline-block;
    margin-bottom: 20px;
}

.content {
    display: none;
    animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.slide-in {
    animation: slideIn 0.5s ease-out;
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: dodgerblue;
    color: #fff;
    left: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}

nav li {
    flex: 1;
}

nav li a {
    display: block;
    padding: 16px;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}
